@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #03373d;
  --color-info: #1f1f1f;
  --color-base-200: #eaeced;
  --color-accent: #606060;
}

* {
  font-family: "Urbanist", sans-serif;
}

.container {
  @apply lg:w-11/12 px-2 mx-auto;
}

a:hover {
  @apply font-bold;
}
a.active {
  @apply font-bold;
}

.banner .swiper-pagination {
  width: 150px !important;
  left: 40px !important;
}
.banner .swiper-pagination-bullet {
  width: 20px !important;
  height: 4px !important;
  border-radius: 15px !important;
}
.banner .swiper-pagination-bullet-active {
  width: 50px !important;
  background: #056873 !important;
}
.review-swipper {
  padding-bottom: 80px !important;
}

.review-swipper .swiper-pagination-bullets {
  bottom: 0 !important;
  z-index: 10;
}

.review-swipper .swiper-pagination-bullet-active {
  @apply bg-secondary;
}
.review-swipper .swiper-slide {
  opacity: 0.5;
}
.review-swipper .swiper-slide-active {
  opacity: 1;
  transform: scale(1.5, 1.5);
}
